AnimationTest/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
AnimationTest/obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
AnimationTest/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
AnimationTest/Logs/
AnimationTest/Library/
AnimationTest/obj/
AnimationTest/.vs/
AnimationTest/AnimationTest.sln
AnimationTest/Assembly-CSharp-Editor.csproj
AnimationTest/Assembly-CSharp-firstpass.csproj
AnimationTest/Assembly-CSharp.csproj
