GitTest/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
GitTest/obj/Debug/Assembly-CSharp-firstpass.csprojAssemblyReference.cache
GitTest/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
GitTest/Logs/
GitTest/Library/
GitTest/obj/
GitTest/.vs/
GitTest/AnimationTest.sln
GitTest/Assembly-CSharp-Editor.csproj
GitTest/Assembly-CSharp-firstpass.csproj
GitTest/Assembly-CSharp.csproj
